@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #fff
}

body{
    letter-spacing: 0.025em;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(195, 130, 238);
    /* padding: 0.5rem; */
}

span.material-icons{
    padding: 0.75rem;
}
span.material-icons:hover{
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0.144);
    border-radius: 50%;
}

header > *{
    padding: 0.75rem;
}


.right{
    display: flex;
    align-items: center;
    /* padding: 0.75rem */
}


.city{
    font-size: 1.25rem;
    padding-left: 1.25rem;
    
    font-weight: bolder;
}

.left{
    margin-left: auto;
}
