@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.808)
}

body{
    letter-spacing: 0.05em;
    font-family: 'Roboto', sans-serif;
}

h4{
    font-weight: normal;
    color: #777
}

.container{
    width: 300px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 2rem auto;
    padding: 8px;
    border: 8px
}

.heading{
    padding: 1rem;
}

.drawer{
    display: flex;
    align-items: center;
    padding: 1rem;
    transition-duration: .7s;
}


.drawer:hover{
    
    cursor: pointer;
    border-radius: 4px;
    color: rgba(111, 0, 238, 0.87);
    background-color: rgba(59, 0, 238, 0.226);
}

.drawer:hover .material-icons.icon{
    color: rgba(111, 0, 238, 0.815);
}

.icon{
    margin-right: 2rem;
}

