@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    font-size: 85%;
    letter-spacing: .05em;
}

:root{
    --subheading-color: #808080;
    --icon-hover-bg: #F0F0F0;
    --text-hover-bg: #D9D7F1;
    --button-text-color: #6200ee;
    --heading-hover-color: #F8F8F8;
    --paragraph-text-color: #707070;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 1.25rem;
    margin-bottom: 4px;
}

h4{
    color: var(--subheading-color);
}

button{
    text-decoration: none;
    background-color: #fff;
    border: none;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    max-width: 300px;
    border-radius:  4px;
    margin: 2rem;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);

}

 /* TOP CONTAINER */

.card_horizontal .container_top{
    display: flex;
    align-items: center;
}

.card_text_overlap .container_top{
    position: relative;
}

.card_text_overlap .description:hover{
    background-color: var(--heading-hover-color);
}

.card_text_overlap .heading{
    position: absolute;
    top: 50%;
}

.card_text_overlap :is(h2,h4){
    color: #fff
}

.container_top:hover{
    cursor: pointer;
    background-color: var(--heading-hover-color);
}

.card_only_buttons .container_bottom {
    justify-content: flex-start;
}

.card_only_icons .container_bottom{
    justify-content: flex-end;
}

.card_basic .description,
.card_only_buttons .description,
.card_only_icons .description{
    padding-top: 0;
    
}

.card_horizontal .container_bottom{
    padding: 8px;
}


img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.heading{
    margin: 1rem;
}

.description{
    color: var(--paragraph-text-color);
    padding: 1rem;
}

/* BOTTOM CONTAINER */

.container_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;    
}


.action_buttons button{
    font-weight: bold;
    padding: 8px;
    text-decoration: initial;
    color: var(--button-text-color);
    font-size: 100%;
}

.action_buttons button:hover{
    background-color: var(--text-hover-bg);
    cursor: pointer;
    border-radius: 4px;
}

.action_icons{
    margin-left: auto;
}

.icon{
    padding: 8px;
}

.icon:hover{
    background-color: var(--icon-hover-bg);
    border-radius: 100%;
    cursor: pointer;
}
